*{padding:0;margin:0;-webkit-box-sizing:border-box;box-sizing:border-box;backface-visibility:hidden;-webkit-backface-visibility:hidden;outline:0}*,:after,:before{-webkit-box-sizing:border-box;box-sizing:border-box}*,:active,html{-webkit-tap-highlight-color:transparent}
body,html{-webkit-overflow-scrolling:touch;z-index:0;font-weight:400}table,tbody,td,th,tr{font-weight:400;border-spacing:0;padding:0}tr.bold td{font-weight:700}th{text-align:left}body{font-family:sans-serif;color:#222;line-height:30px;font-size:18px;text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;position:relative;letter-spacing:.02rem}
.kingdomfaithchurch_icon svg{height: 3.2rem;width: 20rem;display:block;margin:20px auto;}
.main{padding:30px}
.flex-buttons{display:flex;align-items: center; justify-content: flex-start;flex-wrap: wrap;}
.flex-buttons a{padding:10px 20px;background:#ddd;color:#222;text-decoration: none;margin: 0 4px 4px 0}
@media (max-width: 600px){
    .flex-buttons{flex-direction: column;}
    .flex-buttons a{width:100%;text-align: center;;}
}


.menu{display: flex;  background:#ddd;}
.menu-toggle{display:none;color: #222;text-decoration: none;padding: 10px 20px;margin:0 auto;width:100%;text-align: center;}
.menu.active .menu-toggle{
    background: #bbb;
}

.menu ul {
  background:#ddd;
  list-style: none;
  margin: 0 auto;
  padding-left: 0;
}

.menu li {
  color: #222;
  background: #ddd;
  display: block;
  float: left;
  padding: 10px 20px;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}
  
.menu li a {
  color: #222;
  text-decoration: none;
}

.menu li:hover {
  background:#ccc;
  cursor: pointer;
}



@media (min-width: 801px){
    .menu ul li ul {
        visibility: hidden;
        opacity: 0;
        min-width: 5rem;
        position: absolute;
        transition: all 0.5s ease;
        margin-top: 10px;
        left: 0;
        display: none;
      }
    
    .menu ul li:hover > ul,
    .menu ul li:focus-within > ul, /* this is the line we add */
    .menu ul li ul:hover {
        visibility: visible;
        opacity: 1;
        display: block;
    }

}

@media (max-width: 800px){
    .menu{flex-direction: column;}
    .menu-toggle{display:block}
    .menu ul{display:none;flex-direction: column;text-align: center;}
    .menu.active ul{display:flex;width:100%}
    .menu.active ul li{width:100%}
    .menu.active ul li a{display:block;}
    .menu.active ul li ul{display:none}
    .menu.active ul li:focus-within ul{display:block}
    .menu.active ul li:focus-within ul li{background:#bbb}
    .menu.active ul li ul li:hover{background:#aaa}
    .menu.active ul li{padding: 0;}
    .menu.active ul li a{padding: 10px 20px;}
    
}


.menu ul li ul li {
  clear: both;
  width: 100%;
}
